.Notebook {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Notebook>form {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.textarea-content {
  height: 100%;
}

body:not([data-bw-theme="quartz"]) .textarea-content {
  border-top-left-radius: 0;
}

.new-note-tab-link:focus {
  border: none;
  outline: none;
}

.notebook-nav-container {
  overflow-x: auto;
  overflow-y: visible;
  transform: translateY(1px);
  -webkit-overflow-scrolling: touch;
}

.notebook-nav {
  flex-wrap: nowrap;
  border-bottom: none;
}

.notebook-nav .nav-link {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(15ch + 2rem);
  margin-bottom: 0;
}

[data-bw-theme="cyborg"] .notebook-nav-container {
  transform: translateY(0);
}

[data-bw-theme="cyborg"] .notebook-nav .nav-link {
  border-bottom: none;
}

[data-bs-theme="dark"] [data-bw-theme="litera"] .form-control {
  border: var(--bs-border-width) solid rgba(73, 80, 87, 1);
}

[data-bw-theme="lumen"] .notebook-nav-container {
  transform: translateY(0px);
  /* lumen has box shadow */
}

[data-bw-theme="lumen"] .notebook-nav .nav-link {
  border-bottom: none;
}

[data-bw-theme="quartz"] .notebook-nav-container {
  padding-bottom: 8px;
  padding-left: 4px;
  transform: translateY(0);
}

[data-bw-theme="quartz"] .notebook-nav .nav-link {
  border-bottom: none;
}

[data-bw-theme="sketchy"] .notebook-nav-container {
  padding-bottom: 8px;
}

[data-bw-theme="superhero"] .notebook-nav-container {
  transform: translateY(0);
}

[data-bw-theme="vapor"] .notebook-nav-container {
  transform: translateY(0);
  padding-bottom: 4px;
}

@media (pointer: coarse) {
  /* mobile device */
}

@media (pointer: fine),
(pointer: none) {

  /* desktop */
  .notebook-nav-container::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .notebook-nav-container::-webkit-scrollbar:horizontal {
    height: 1rem;
  }

  .notebook-nav-container::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    border: 0.2rem solid white;
    background-color: rgba(0, 0, 0, .3);
  }
}

@media (pointer: fine) and (any-pointer: coarse) {
  /* touch desktop */
}