.Loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

[data-bs-theme="light"] .Loading__background {
  background-color: #1c2225;
  border-radius: 1rem;
  padding: .5rem;
}