body {
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.navbar-brand {
  background-color: var(--bs-dark);
}

[data-bs-theme="dark"] .navbar-brand {
  background-color: var(--bs-gray-600);
}

.btn-switch-color-theme {
  background-color: rgba(0, 0, 0, .1);
  aspect-ratio: 1 / 1;
  display: inline-flex;
  height: 1lh;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.btn-switch-color-theme:hover {
  background-color: rgba(0, 0, 0, .2);
}

.btn-switch-color-theme:active {
  background-color: rgba(0, 0, 0, .25);
}

.copy-url-textbox-container {
  position: relative;
}

.copy-url-textbox-icon {
  display: flex;
  align-items: center;
  margin: auto 0;
  position: absolute;
  left: 3px;
  bottom: 0;
  top: 0;
  color: var(--bs-secondary);
  z-index: 99;
  font-size: .8em;
}

.copy-url-textbox-icon>svg {
  transform: rotate(-15deg);
}

.copy-url-textbox-container.input-group-sm>.form-control {
  padding-left: 1.3rem;
  width: 20ch;
}