html, body, #root {
  height: 100%;
}

body {
  overflow: hidden;
  color-scheme: light;
}

.dropdown-menu{
  max-height: 400px;
  overflow-y: auto;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}